<h1>Need music?</h1>
<p class="lead">Use the ng-Spotify to browse new releases and find your favorite songs</p>

<form>
	<div class="form-group">
		<input class="form-control" type="text" placeholder="Search artists..."
				[(ngModel)]="searchStr" name="searchStr"
				(keyup)="searchMusic()">

	</div>
</form>

<div class="artists" *ngIf="searchResult">
	<div *ngFor="let artist of searchResult">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-block">
						<h4 class="card-title">
							<a routerLink="/artist/{{artist.id}}">{{artist.name}}</a>
						</h4>
						<div>
							<strong>Genres: </strong>
							<span *ngFor="let genre of artist.genres">{{genre}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
